@import "./general";

#message-form {
	text-align: center;
	margin-top: 1rem;

	#username,
	#message,
	#send-message {
		padding: 0.5rem;
		border-radius: 5px;
		border: 0;
		margin-right: 1rem;
	}

	#username {
		width: 5rem;
	}

	#message {
		width: 20rem;
	}


	#send-message {
        @include button(rgb(229, 255, 0));
	}

	@media (max-width: 550px) {
		#username,
		#message,
		#send-message {
			display: block;
			margin-left: 3rem;
			margin-top: 1rem;
			width: 80%;
		}
	}

	@media (max-width: 340px) {
		#username,
		#message,
		#send-message {
			margin-left: 1rem;
			margin-top: 1rem;
			width: 80%;
			padding: 0.2rem;
		}
	}
}
